<!-- BlogWall/templates/info.html -->

{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron blog-banner">
        <div class="container">
            <h1 class="display-3">BlogWall</h1>
            <p class="lead">Welcome to Our Company's Blog Page.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum quos harum cupiditate quo sapiente. Esse neque reprehenderit eveniet quidem, voluptas ea fugit molestias nobis magni rem expedita, laudantium illo voluptatibus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <p>   
                Vero, blanditiis expedita? Odio ipsa distinctio voluptatum omnis esse, et vitae nesciunt debitis assumenda doloremque. Distinctio atque fugit doloribus voluptates, sunt dignissimos!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laudantium facere magnam, illum provident delectus reprehenderit dolorem, quibusdam nostrum harum repudiandae animi vitae autem inventore! Aut perspiciatis quos labore natus?
            </p> 
            <p> eligendi debitis optio tempora voluptatem molestiae, beatae odit? Deserunt porro exercitationem voluptatibus nisi ipsa dolores voluptas! Recusandae quibusdam tempore fugit facilis!
                Accusamus, cupiditate praesentium obcaecati aliquam modi corrupti nobis dolor minima, deleniti quia explicabo maxime ex nostrum labore quisquam quo nihil totam. Ducimus amet veniam, odio quam explicabo nam vel nisi.
                Optio, omnis minima aperiam accusantium dolorem iste aspernatur porro? Sint quaerat velit nobis, harum numquam architecto reiciendis culpa a illo quia beatae at magnam eos sequi repellat rem! Consequuntur, sit.
                Consequatur, quidem aperiam. Aliquid, aperiam alias! Qui quaerat commodi in aliquid debitis! Labore accusamus illum nesciunt veniam quam asperiores quis. In alias animi excepturi voluptas blanditiis eius. Sint, eaque quo.
            </p>
        </div>
    </div>
    <footer class="bg-dark text-white py-2">
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1 mx-5" href="https://linkedin.com/in/justk9" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1 mx-2" href="https://github.com/MrLuciferM" role="button"><i
          class="fab fa-github"></i></a>
          <span style="float: right;" class="mx-5">© 2022 Copyright: Kunal G.</span>
    </footer>
{% endblock %}